#logo {
    width: 120px;
}

h1 {
    font-family: 'Work Sans', sans-serif;
    font-weight: 800;
    font-size: 1.25rem !important;
    color: #0E1221;
}

h2 {
    font-family: 'Work Sans', sans-serif;
    font-weight: 800;
    font-size: 1.25rem;
    color: #fffff;
}

h3 {
    font-family: 'Work Sans', sans-serif;
    font-weight: 100;
    font-size: 1rem !important;
    color: #fffff;
}

h4 {
    font-family: 'Work Sans', sans-serif;
    font-weight: 800;
    font-size: 1rem;
    color: #0E1221;
}

h5 {
    font-family: 'Work Sans', sans-serif;
    font-weight: 800 !important;
    font-size: 1.5rem !important;
    color: #0E1221;
}

h6 {
    font-family: 'Work Sans', sans-serif;
    font-weight: 800;
    font-size: 0.8rem !important;
    color: #0E1221;
}


p {
    font-family: 'Work Sans', sans-serif;
    font-weight: 100 !important;
    font-size: 1rem !important;
    font-kerning: auto;
    color: #0E1221;
    line-height: 1.75rem;
}

.link {
    font-family: 'Work Sans', sans-serif;
    font-weight: 100 !important;
    font-size: 1rem !important;
    font-kerning: auto;
    color: #7048b1;
    line-height: 1.75rem;
}

.nav-link {
    font-family: 'Work Sans', sans-serif;
    font-weight: 100 !important;
    font-size: 1rem !important;
    font-kerning: auto;
    color: #0E1221 !important;
    line-height: 1.75rem;

}

.carousel-item{
    padding-top: 50px !important;
}

.card-text {
    font-family: 'Work Sans', sans-serif;
    font-weight: 100 !important;
    font-size: 1rem !important;
    font-kerning: auto;
    color: #0E1221;
    line-height: 1.75rem;

}

.p-footer {
    color: #ffffff;
}

li a {
    color: #fff;
}

/* a:hover {
    background-color: #835fbd !important;
} */

.feature-texto {
    max-width: 1200px;  
    margin: 30px auto !important;
    padding: 50px !important;
}

@media screen and (min-width: 320px) {
  .feature-texto {
    margin: 20px auto !important;
    padding: 15px !important;
}
    

.cards {
    max-width: 1200px;  
    margin: 0 auto !important;
    padding: 50px 50px 20px 50px !important;
}

@media screen and (min-width: 320px) {
  .cards {
    margin: 0 auto !important ;
    padding: 15px !important;
}

.form-body {
    padding: 5.25rem !important;
}

.card-body{
    padding: 1.25rem !important;

}

.btn-style {
	background-color: #7048b1;
	border-radius: 5px;
	display: inline-block;
	cursor: pointer;
	color: #ffffff;
	font-family: 'Work Sans', sans-serif;
	font-size: 15px;
	padding: 6px 20px;
	text-decoration: none;  
}

.btn-style:hover {
	background-color :#835fbd;
}

.btn-style:active {
    color: #ffffff !important; 
	position: relative;
	top: 1px;
}

.text-form {
    max-width: 1200px;  
    margin: 0 auto !important;
    padding: 50px 50px 20px 50px !important;
}

@media screen and (min-width: 320px) {
  .text-form {
    margin: 0 auto !important ;
    padding: 15px !important;
    /* display: flex; */
}

.form-control{
    color: #0E1221 !important;
    font-family: 'Work Sans', sans-serif !important;
	font-size: 15px !important;
	padding: 12px 20px !important;
    text-decoration: none !important;
}

.card-footer {
    padding: .75rem 1.25rem;
    background-color: #ffff !important;
    border-top: 1px solid rgba(0,0,0,.125);
    display: flex;
    flex-wrap: wrap;
}

.navbar-toggler {
    color: #0E1221 !important;
}
